<!-- <div class="jumbotron">
    <h1>Darkflow Object Detection</h1>
</div> -->


<h1 class="my-4 text-center text-lg-left">Gallery</h1>

<div class="row text-center text-lg-left">

  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
    <a href="#" class="d-block mb-4 h-100">
      <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
    </a>
  </div>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination pg-dark">
      <li class="page-item disabled"><a class="page-link" mdbWavesEffect>First</a></li>
      <li class="page-item disabled">
        <a class="page-link" aria-label="Previous" mdbWavesEffect>
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link" mdbWavesEffect>1</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>2</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>3</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>4</a></li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>5</a></li>
      <li class="page-item">
        <a class="page-link" aria-label="Next" mdbWavesEffect>
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" mdbWavesEffect>Last</a></li>
    </ul>
  </nav>