<footer class="page-footer font-small elegant-color fixed-bottom">
    <div class="footer-copyright text-center py-3">Made by 
        <a href="https://github.com/scott-mcnulty" target="_blank">@scott-mcnulty</a>
    </div>
</footer>

<!-- <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
         Made with <i class="fa fa-heart"></i> by <a href="https://github.com/scott-mcnulty" target="_blank">Scott McNulty</a>. See the <a href="https://github.com/scott-mcnulty/darkflow-object-detection" target="_blank">repo</a>
        Made by <a href="https://github.com/scott-mcnulty">@Scott McNulty</a>
    </div>
</nav> -->
