<div class="p-4">
    <h3>Settings</h3>
    <hr />

    <form #settingsForm="ngForm" (ngSubmit)="onSubmit(settingsForm)">
        <h6>Camera Server Settings</h6>
        <label for="camera-server-hostname">Hostname</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">http://</span>
            </div>
            <input type="text" class="form-control" id="cameraServerHostname" [(ngModel)]="model.cameraServerHostname" name="cameraServerHostname" [placeholder]="appSettingsService.appSettings.cameraServerHostname">
        </div>
        <label>Port</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">:</span>
            </div>
            <input type="text" class="form-control" id="cameraServerPort" [(ngModel)]="model.cameraServerPort" name="cameraServerPort" [placeholder]="appSettingsService.appSettings.cameraServerPort">
        </div>

        <hr />

        <h6>Inference Server Settings</h6>
        <label for="inference-server-hostname">Hostname</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">http://</span>
            </div>
            <input type="text" class="form-control" id="inferenceServerHostname" [(ngModel)]="model.inferenceServerHostname" name="inferenceServerHostname" [placeholder]="appSettingsService.appSettings.inferenceServerHostname">
        </div>
        <label>Port</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">:</span>
            </div>
            <input type="text" class="form-control" id="inferenceServerPort" [(ngModel)]="model.inferenceServerPort" name="inferenceServerPort" [placeholder]="appSettingsService.appSettings.inferenceServerPort">
        </div>

        <hr />
        <button class="btn btn-info btn-block btn-elegant" type="submit">Apply</button>
    </form>
</div>
