<div class="p-4">
    <h3>About the Darkflow Object Detector</h3>
    <hr />
    
    <h4>Image Store Page</h4>
    <p>The collection of images that have been saved by the detector.</p>
    
    <h4>Feed Page</h4>
    <p>A live feed of images from the camera server.</p>
    
    <h4>Settings Page</h4>
    <p>Different application settings.</p>
    
    <h4>See the Code</h4>
    <p>The full codebase for the detector can be seen <a href="https://github.com/scott-mcnulty/darkflow-object-detection" target="_blank">here.</a></p>
</div>